[package]
authors = [
  "Miraland Crafters <crafters@miraland.top>",
  "Solana Maintainers <maintainers@solana.foundation>"
]
edition = "2021"
name = "miraland-remote-wallet"
description = "Blockchain for community beyond the horizon"
version = "1.14.17-rc6"
repository = "https://github.com/miraland-labs/miraland"
license = "Apache-2.0"
homepage = "https://miraland.top/"
documentation = "https://docs.rs/miraland-remote-wallet"

[dependencies]
console = "0.15.0"
dialoguer = "0.10.1"
hidapi = { version = "1.4.1", default-features = false, optional = true }
log = "0.4.17"
miraland-sdk = { path = "../sdk", version = "=1.14.17-rc6" }
num-derive = { version = "0.3" }
num-traits = { version = "0.2" }
parking_lot = "0.12"
qstring = "0.7.2"
semver = "1.0"
thiserror = "1.0"
uriparse = "0.6.4"

[features]
default = ["linux-static-hidraw", "hidapi"]
linux-static-libusb = ["hidapi/linux-static-libusb"]
linux-static-hidraw = ["hidapi/linux-static-hidraw"]
linux-shared-libusb = ["hidapi/linux-shared-libusb"]
linux-shared-hidraw = ["hidapi/linux-shared-hidraw"]

[[bin]]
name = "miraland-ledger-udev"
path = "src/bin/ledger-udev.rs"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
