[package]
name = "miraland-bpf-loader-program"
version = "1.14.17-rc3"
description = "Miraland BPF loader"
authors = ["Solana Maintainers <maintainers@solana.foundation>"]
repository = "https://github.com/miraland-labs/miraland"
license = "Apache-2.0"
homepage = "https://miraland.top/"
documentation = "https://docs.rs/miraland-bpf-loader-program"
edition = "2021"

[dependencies]
bincode = "1.3.3"
byteorder = "1.4.3"
libsecp256k1 = "0.6.0"
log = "0.4.17"
miraland-measure = { path = "../../measure", version = "=1.14.17-rc3" }
miraland-metrics = { path = "../../metrics", version = "=1.14.17-rc3" }
miraland-program-runtime = { path = "../../program-runtime", version = "=1.14.17-rc3" }
miraland-sdk = { path = "../../sdk", version = "=1.14.17-rc3" }
miraland-zk-token-sdk = { path = "../../zk-token-sdk", version = "=1.14.17-rc3" }
solana_rbpf = "=0.2.31"
thiserror = "1.0"

[dev-dependencies]
miraland-runtime = { path = "../../runtime", version = "=1.14.17-rc3" }
rand = "0.7.3"

[lib]
crate-type = ["lib"]
name = "solana_bpf_loader_program"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
