[package]
name = "miraland-transaction-status"
description = "Miraland transaction status types"
documentation = "https://docs.rs/miraland-transaction-status"
version = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[dependencies]
Inflector = { workspace = true }
base64 = { workspace = true }
bincode = { workspace = true }
# Update this borsh dependency to the workspace version once
# solarti-associated-token-account is upgraded and used in the monorepo.
# borsh = { version = "0.10.3" }
bs58 = { workspace = true }
lazy_static = { workspace = true }
log = { workspace = true }
miraland-account-decoder = { workspace = true }
miraland-sdk = { workspace = true }
serde = { workspace = true }
serde_derive = { workspace = true }
serde_json = { workspace = true }
solarti-associated-token-account = { workspace = true, features = ["no-entrypoint"] }
solarti-memo = { workspace = true, features = ["no-entrypoint"] }
solarti-token = { workspace = true, features = ["no-entrypoint"] }
solarti-token-2022 = { workspace = true, features = ["no-entrypoint"] }
thiserror = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
