[package]
name = "miraland-ledger-tool"
description = "Blockchain for community beyond the horizon"
documentation = "https://docs.rs/miraland-ledger-tool"
version = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[dependencies]
bs58 = { workspace = true }
chrono = { workspace = true, features = ["default"] }
clap = { workspace = true }
crossbeam-channel = { workspace = true }
csv = { workspace = true }
dashmap = { workspace = true }
futures = { workspace = true }
histogram = { workspace = true }
itertools = { workspace = true }
log = { workspace = true }
miraland-account-decoder = { workspace = true }
miraland-accounts-db = { workspace = true }
miraland-bpf-loader-program = { workspace = true }
miraland-clap-utils = { workspace = true }
miraland-cli-output = { workspace = true }
miraland-core = { workspace = true }
miraland-cost-model = { workspace = true }
miraland-entry = { workspace = true }
miraland-geyser-plugin-manager = { workspace = true }
miraland-gossip = { workspace = true }
miraland-ledger = { workspace = true }
miraland-logger = { workspace = true }
miraland-measure = { workspace = true }
miraland-program-runtime = { workspace = true }
miraland-rpc = { workspace = true }
miraland-runtime = { workspace = true, features = ["dev-context-only-utils"] }
miraland-sdk = { workspace = true }
miraland-stake-program = { workspace = true }
miraland-storage-bigtable = { workspace = true }
miraland-streamer = { workspace = true }
miraland-transaction-status = { workspace = true }
miraland-unified-scheduler-pool = { workspace = true }
miraland-version = { workspace = true }
miraland-vote-program = { workspace = true }
num_cpus = { workspace = true }
regex = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
solana_rbpf = { workspace = true, features = ["debugger"] }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["full"] }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
jemallocator = { workspace = true }

[dev-dependencies]
assert_cmd = { workspace = true }
bytecount = { workspace = true }

[features]
dev-context-only-utils = []

[target."cfg(unix)".dependencies]
signal-hook = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
